{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>My awesome space</h1>
<p>file: index.html</p>
<br/><a href="base" >base  but doesnt work</a>
<br/><a href='not'>not</a>
<p>aaaabb</p>
<br/><a href='si'>simple; this invokes simple.html</a>
<br/><a href='simple'>simple; this invokes simple.html</a>
<br/><a href='ttt'>ttt</a>
<br/><a href='countries'>countries</a>
<br/><br/><br/><a href="rgann/">rgann, first version of regex</a>
    <br/>change in project ver2; local
    <br/>change in project ver2; local, line2
{% endblock %}
